<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>MostrarTodo</servlet-name>
        <servlet-class>controlador.MostrarTodo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar</servlet-name>
        <servlet-class>controlador.Eliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modificar</servlet-name>
        <servlet-class>controlador.Modificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mostrar</servlet-name>
        <servlet-class>controlador.Mostrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarElimina</servlet-name>
        <servlet-class>controlador.MostrarElimina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarEdita</servlet-name>
        <servlet-class>controlador.MostrarEdita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agregar</servlet-name>
        <servlet-class>controlador.Agregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarAgrega</servlet-name>
        <servlet-class>controlador.MostrarAgrega</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buscar</servlet-name>
        <servlet-class>controlador.Buscar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MostrarTodo</servlet-name>
        <url-pattern>/MostrarTodo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar</servlet-name>
        <url-pattern>/Eliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modificar</servlet-name>
        <url-pattern>/Modificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mostrar</servlet-name>
        <url-pattern>/Mostrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarElimina</servlet-name>
        <url-pattern>/MostrarElimina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarEdita</servlet-name>
        <url-pattern>/MostrarEdita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agregar</servlet-name>
        <url-pattern>/Agregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarAgrega</servlet-name>
        <url-pattern>/MostrarAgrega</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buscar</servlet-name>
        <url-pattern>/Buscar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
